<!DOCTYPE html>
<html lang="es">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>{% block title %}{% endblock %}</title>
      {% load static %}

      <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

      <!-- SCRIPTS Y ESTILOS PARA JQGRID -->
      <script type="text/ecmascript" src="{% static 'core/js/jquery-1.11.0.js' %}"></script>
      <script src="{% static 'core/js/bootstrap.min.js' %}"></script>
      <script type="text/ecmascript" src="{% static 'core/js/grid.locale-es.js' %}"></script>
      <!-- This is the Javascript file of jqGrid -->
      <script type="text/ecmascript" src="{% static 'core/js/jquery.jqgrid.src.js' %}"></script>
      <script type="text/ecmascript" src="{% static 'core/js/jquery-ui.min.js' %}"></script>
      <!-- This is the localization file of the grid controlling messages, labels, etc.
      A link to a jQuery UI ThemeRoller theme, more than 22 built-in and many more custom -->
      <link rel="stylesheet" type="text/css" media="screen" href="{% static theme %}" />
      <!-- The link to the CSS that the grid needs -->
      <link rel="stylesheet" type="text/css" media="screen" href="{% static 'core/css/ui.jqgrid.css' %}"/>
      <link href="{% static 'core/fonts/font-awesome.min.css' %}" rel="stylesheet" />
      <link href="{% static 'core/css/jquery.steps.css' %}" rel="stylesheet">
      <meta charset="utf-8" />

      <!-- Estilos para Navegación | Menu Styles -->
      <link href="{% static 'core/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
      <link href="{% static 'core/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
      <link href="{% static 'core/css/main.css' %}" rel="stylesheet">

      {% block scripts %}{% endblock %}
      <script>
          $(window).on("resize", function () {
              var $gridSUNu = $("#jqGrid"), newWidth = $gridSUNu.closest(".ui-jqgrid").parent().width();
              $gridSUNu.jqGrid("setGridWidth", newWidth, true);
          });
      </script>
  </head>
  <body>
      <!-- Navegación | Menu -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="/">Playground</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ned" aria-controls="ned" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="ned">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'grid1:json' %}">Basic Grid</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'grid1:database' %}">Data Base Grid</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'grid1:mixin' %}">Mixin</a>
              </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Documentation</a>
                </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- Contenido | Content -->
      <div class="container">
          {% block content %}{% endblock %}
      </div>
      <!-- Pié de página | Footer -->
      {% if request.path != '/' %}<hr>{% endif %}
      <footer>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 col-md-10 mx-auto">
                <ul class="list-inline text-center">
                  <li class="list-inline-item">
                    <a href="mailto:mg.lacayo07@gmail.com">
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                      </span>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="https://github.com/mglacayo07">
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                      </span>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="https://www.linkedin.com/in/maria-lacayo-2b8143189/">
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                      </span>
                    </a>
                  </li>
                </ul>
                <p class="copyright text-muted" style="text-align: center">Copyright &copy; 2022 · Maria Lacayo (Python Developer) </p>
              </div>
            </div>
          </div>
      </footer>
      <!-- Javascript | JS -->



  </body>
</html>